@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
   background-color: antiquewhite; 
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    background-color: black;
    height: 65px;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 45px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background: url(bg.jpg) no-repeat center center/cover;

}
.bottom{
    position: sticky;
    height: 88px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    
}
.songItem{
height: 50px;
display: flex;
align-items: center;
justify-content: space-between;
background-color: white;
color: black;
width: 40%;
margin: 12px 0;
border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin: 23px 23px;
}
.timespan{
    margin: 0 23px;
}